{% extends 'base.html.twig' %}

{% block body %}
<h3>Frequently Asked Questions</h3>
<ol class="panel">
    <li><a href="#Answer_1:_">Question 1, Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. </a>
    </li>
    <li><a href="#Answer_2:_">Question 2, Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. </a>
    </li>
    <li><a href="#Answer_3:_">Question 3, Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. </a>
    </li>
    <li><a href="#Answer_4:_">Question 4, Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. </a>
    </li>
    <li><a href="#Answer_5:_">Question 5, Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. </a>
    </li>
    <li><a href="#Answer_6:_">Question 6, Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. </a>
    </li>
    <li><a href="#Answer_7:_">Question 7, Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. </a>
    </li>
    <li><a href="#Answer_8:_">Question 8, Lorem Ipsum is simply
            dummy text of the printing and typesetting industry. </a>
    </li>
    <li><a href="#Answer_9:_">Question 9, Lorem Ipsum is simply
            dummy text of the printing and typesetting industry.</a></li>
</ol>
<hr>
<h4><a name="Answer_1:_">Answer 1: </a></h4>
<p>Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown
    printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries.</p>
<h4><a name="Answer_2:_">Answer 2: </a></h4>
<p>Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown
    printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries.</p>
<h4><a name="Answer_3:_">Answer 3: </a></h4>
<p>Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown
    printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries.</p>
<h4><a name="Answer_4:_">Answer 4: </a></h4>
<p>Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown
    printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries.</p>
<h4><a name="Answer_5:_">Answer 5: </a></h4>
<p>Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown
    printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries.</p>
<h4><a name="Answer_6:_">Answer 6: </a></h4>
<p>Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown
    printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries.</p>
<h4><a name="Answer_7:_">Answer 7: </a></h4>
<p>Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown
    printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries.</p>
<h4><a name="Answer_8:_">Answer 8: </a></h4>
<p>Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown
    printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries.</p>
<h4><a name="Answer_9:_">Answer 9: </a></h4>
<p>Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown
    printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries.</p>
{% endblock %}