@import "../../node_modules/bootstrap/scss/bootstrap";

body{
  font-family: 'Montserrat', sans-serif;
  background: url("../img/wallpaper.png") no-repeat, #171717;
  min-width: 100%;
  color: #fff;
}

#backtotop {
  background-image: url("../img/uparrow.png");
  background-size: cover;
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  display: none;
}
a, a:hover, a:focus{
  color: white;
  text-decoration: none;
}
a, a:hover, a:focus, button, button:hover, div, h1, h2, h3, h4, h5, h6, input, select, span, textarea {
  outline: none;
}

section{
  padding-top: 2em;
  padding-bottom: 2em;
}

button{
  cursor: pointer;
}

label{
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #f19514;
  margin-bottom: 8px;
}

input[type=text]{
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 8px 12px;
  border-radius: 3px;
  background: #616161;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
  border: 1px solid hsla(0,0%,100%,.1);
}

textarea{
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 8px 12px;
  border-radius: 3px;
  background: #616161;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
  border: 1px solid hsla(0,0%,100%,.1);
}

input[type=password]{
   display: block;
   width: 100%;
   margin-top: 5px;
   padding: 8px 12px;
   border-radius: 3px;
   background: #616161;
   -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
   box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
   border: 1px solid hsla(0,0%,100%,.1);
 }

input[type=email]{
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 8px 12px;
  border-radius: 3px;
  background: #616161;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
  border: 1px solid hsla(0,0%,100%,.1);
}

input:focus{
  border: 1px solid white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c2c2c2;
  font-weight: 100;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c2c2c2;
  font-weight: 100;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c2c2c2;
  font-weight: 100;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c2c2c2;
  font-weight: 100;
}

#topNav{
  padding-top: 3em;
}
.button{
  display: inline-block;
  height: 44px;
  line-height: 40px;
  padding: 0 20px;
  white-space: nowrap;
  border-radius: 3px;
  border: 2px solid rgba(241,190,68,.4);
  color: #fff;
  background-color: transparent;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: border-color .2s ease,background-color .2s ease;
  -o-transition: border-color .2s ease,background-color .2s ease;
  transition: border-color .2s ease,background-color .2s ease;
  text-align: center;
  cursor: pointer;
}



.btn--filled {
  background-color: #f1be44;
  border-color: #f1be44;
  text-shadow: 0 1px 1px #d79410;
}

.btn--disabled{
  cursor: not-allowed;
  background-color: grey;
  border-color: grey;
}

.btn--large{
  width: 100%;
}
.btn--discord{
  display: inline-block;
  height: 45px;
  width: 100%;
  border-radius: 3px;
  border: 2px solid rgba(175, 182, 255, 0.4);
  background-color: #738adb;
  color: white;
  font-weight: 600;
  transition: background-color .2s ease;
}

.btn--discord:hover{
  background-color: #8498de;
}

.btn--skype{
  display: inline-block;
  height: 45px;
  width: 100%;
  border-radius: 3px;
  border: 2px solid rgba(214, 255, 250, 0.4);
  background-color: #00aceb;
  color: white;
  font-weight: 600;
  transition: background-color .2s ease;
}

.btn--skype:hover{
  background-color: #41ccff;
}

.contact-btn--group > button{
  margin-top: 2%;

}
.hero-subheader{
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #f1be44;
  margin-bottom: 19px;
}

.hero-header{
  font-size: 58px;
  font-weight: 900;
  line-height: 64px;
  margin-bottom: 47px;
}

#little-square2::before{

  content: "";
  position: absolute;
  z-index: -1;
  top: -40rem;
  right: -6rem;
  background-image: url("../img/KHADGAR.png");
  width: 45.0625rem;
  height: 40.25rem;
  background-size: cover;
  background-repeat: no-repeat;

}

#big-square::after{

  content: "";
  position: absolute;
  z-index: 0;
  bottom: 2rem;
  right: 0;
  background-image: url("../img/nightbornefemale.png");
  width: 45.0625rem;
  height: 30.25rem;
  background-size: cover;
  background-repeat: no-repeat;

}

.feature-subheader{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 15px;
  color: #f1be44;
  letter-spacing: 4px;
}

.feature-header{
  font-size: 42px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 21px;
}

.feature-content{
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #898f9d;
}

.foo{
  position: relative;
  width: 100%;
  height: 185px;
  border-radius: 3px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 29px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  background-size: cover;
  background: no-repeat 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
  border: 1px solid hsla(0,0%,100%,.1);
}

.foo-featured{
  height: 400px;
  padding-bottom: 39px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#parallax-faq{
  /* The image used */
  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background: linear-gradient(rgba(34, 37, 47, 0.2), rgba(34, 37, 47, 0.95)), url("../img/pirate.png") fixed;
  background-size: cover;

  position: relative;
  width: 100%;
  border-radius: 3px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 29px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
  border: 1px solid hsla(0,0%,100%,.1);
}


@media (max-width: 1200px)
{
#little-square2::before {
  display: none;
  }
}

@media (max-width: 1024px)
{
  #big-square::after {
    display: none;
  }
}

#profile{
  background: rgba(0,0,0,0.4);

  li .active
  {
    background: rgba(0,0,0,0.4);
    border: 0.175em solid rgba(0,0,0,0.2);
  }

  label{
    margin-top: 2em;
  }

  ._upload{
    display: block;
    margin-bottom: 2em;

  }

  input[type=file]{
    display:none;
  }
}

#profile h1,h2,h3,h4,h5,h6{
  color: black;
}




#myTabContent p{
  color: grey;

}

// TOP SELLING
.home-product-group{
  margin-bottom: 15px;
  .product-vignette-img{
    margin-bottom: 10px;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
    border: 1px solid hsla(0,0%,100%,.1);
    transition: all .2s ease-in;
  }

  .product-vignette--title{
      text-transform: uppercase;
      font-size: 20px;
      font-weight: normal;
      letter-spacing: 2px;
  }

  .product-vignette--price{
    color: #B0413E;
    font-size: 26px;
  }
}

.home-product-group:hover{
  .product-vignette-img{
    -webkit-box-shadow: 0px 6px 27px 0px rgba(250,188,0,0.08);
    -moz-box-shadow: 0px 6px 27px 0px rgba(250,188,0,0.08);
    box-shadow: 0px 6px 27px 0px rgba(250,188,0,0.08);
  }
}

//INDEX_REVIEW
.index_review{
  .review_user{
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 15px;
  }

  .review_text{
    font-style:italic;
    margin: 15px;
  }

  .review_date{
    margin: 15px;
  }
}

//PRODUCT
.product{
  padding: 20px 0;
  .product-title{
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
  }
  .product-desc{
    margin: 8px 0;
  }
  .product-eta{

  }
  .product-img{
    margin-bottom: 10px;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
    border: 1px solid hsla(0,0%,100%,.1);
    transition: all .2s ease-in;
  }
  .product-price{
    letter-spacing: 2px;
    font-size: 24px;
    padding: 5px 0;
  }
  .product-atc{
    margin: 0;
    padding: 0;
  }
}

//REVIEW
.product_reviews{
  .review{
    .card{
      background: rgba(0,0,0,0.4);

      .card-title{
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 15px;
        color: #f1be44;
        letter-spacing: 4px;
      }

      .card-text{
        line-height: 2px;
      }
    }
  }
}

.top--hr{
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(215,148,16,0.75), rgba(0,0,0,0));
  overflow: visible;
  height: 2px;
}

//FOOTER
.footer_hr{
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(215,148,16,0.75), rgba(0,0,0,0));
  overflow: visible;
  height: 2px;
}

#bottomNav{

  h5{
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
    color: #f1be44;
    margin-bottom: 19px;
  }
}

//CART_TABLE
#cart_table{
  width: 100%;
  th, td{
    padding: 1.25em;
  }
}