<form action="/stripe/checkout" method="POST" class="stripe_pay">
    <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_CvXKMhGS0IBZwE7mLN2fWnJT"
            data-name="Gearcheck"
            data-description="Example charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="true"
            data-currency="eur">
    </script>
</form>