{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <section id="topNav">
            <header>
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#">GEARCHECK</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link button" href="#" data-toggle="modal" data-target="#contactModal">HOW DOES IT WORKS</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link button btn--filled" href="#"><span class="pr-2"><img src="../img/man-user.png" alt=""></span>Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><img src="../img/shopping-cart.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        </section>

        <section id="hero">
            <div class="hero">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero-subheader">Flumen terra bonis Isauria verticibus.
                        </div>
                        <div class="hero-header">Et illa quis Mithridaticos quis et exhausti urbis inquam Byzantiorum.
                        </div>
                        <div class="hero-buttons">
                            <a href="" class="button btn--filled">CREATE AN ACCOUNT</a>
                            <a href="" class="button">REVIEWS</a>
                        </div>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
            </div>
        </section>

        <section id="service">
                <div class="feature-subheader text-center">
                    Flumen terra bonis Isauria verticibus.
                </div>
                <div class="feature-header text-center">
                    Et illa quis Mithridaticos quis et exhausti urbis inquam Byzantiorum.
                </div>
                <div class="feature-content text-center">Et inde Syria advecticiis et interpatet inde advecticiis cognita et.
                </div>
            <div class="row mt-4">
                <div class="col-lg-6">
                    <div class="foo foo-featured" style='background: linear-gradient(rgba(34, 37, 47, 0.2), rgba(34, 37, 47, 0.95)), url("../img/powerleveling.jpg") 75% 35%; background-size: cover;'>
                        <p class="">Powerleveling</p>
                        <a class="button btn--filled" href="">SHOW MORE</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="foo foo-featured" style='background: linear-gradient(rgba(34, 37, 47, 0.2), rgba(34, 37, 47, 0.95)), url("../img/artifact.jpg") 50% 40%; background-size: cover;'>
                        <p class="">Artifact skin</p>
                        <a class="button btn--filled" href="">SHOW MORE</a>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12">
                    <div class="foo foo-featured" style='background: linear-gradient(rgba(34, 37, 47, 0.2), rgba(34, 37, 47, 0.95)), url("../img/nighthold.jpeg") 75% 35%; background-size: cover;'>
                        <p class="">RAID BOOSTING</p>
                        <a class="button btn--filled" href="">SHOW MORE</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="whychooseus"></section>

        <section id="topselling"></section>

        <section id="testimonial">
            <div class="feature-subheader text-center">
                Testimonial
            </div>
            <div class="feature-header text-center">
                0000 Reviews
            </div>
            <div class="feature-content text-center">Et inde Syria advecticiis et interpatet inde advecticiis cognita et.
            </div>
        </section>

    </div>
    <div class="container-fluid">
        <section id="faq">
            <div id="parallax-faq">
                <div class="pt-4">
                    <div class="feature-subheader text-center">
                        Flumen terra bonis Isauria verticibus.
                    </div>
                    <div class="feature-header text-center">
                        Et illa quis Mithridaticos quis et exhausti urbis inquam Byzantiorum.
                    </div>
                    <div class="feature-content text-center">Et inde Syria advecticiis et interpatet inde advecticiis cognita et.
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section id="bottomNav">
        <footer>

        </footer>
    </section>
        <!-- MODALS -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="feature-subheader">SIGN UP</h5>
                    <a style="cursor: pointer;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="../img/error.png" alt="">
                    </a>
                </div>
                <div class="modal-body">
                    <div class="feature-content pb-3">Feel free to contact us for further information.</div>
                    <div class="contact-btn--group">
                        <button class="btn btn--discord"><span class="pr-2"><img src="../img/discord.png" style="height: 24px; width: 24px;" alt=""></span>johndoe#0000</button>
                        <button class="btn btn--skype"><span class="pr-2"><img src="../img/skype.png" style="height: 24px; width: 24px;" alt=""></span>johndoe#0000</button>
                    </div>

                    <div class="feature-content pt-3">Or contact us at <strong>mail@mail.com</strong></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
